rules_version = '2';


function isUserAuthenticated() {
  return request.auth != null;
}

function isUserOwner(userId) {
  return request.auth.uid == userId;
}

function isUserAdmin() {
  return request.auth.token.admin == true;
}

service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
   
      allow read: if isUserAuthenticated();
      allow write: if isUserOwner(userId) || isUserAdmin();
      
      match /posts/{postId} {
  
        allow read: if isUserAuthenticated();
        allow write: if isUserAuthenticated();
        
        match /comments/{commentId} {
         
          allow read, write: if isUserAuthenticated();
        }
      }

      match /Message/{messageId} {
   
        allow read, write: if isUserOwner(userId);
      }
    }
  }
}
